body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */

.navbar {
    display:flex;
    flex-direction: column;
}

.header {
    padding-left:5px;
    
}

.nav-links {
    display:flex;
    flex-direction: column;
    margin-right:5px;
}

.link {
    padding:0px 5px 0px 5px;
    display:flex;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

h3 , h1 , p , a {
    color: #69696a;
}

.btn {
    border:none;
    background-color: #000;
    color: #f9fafc;
    padding: 15px;
    border-radius: 50px;
    align-self: center;
    width:100%;
}

/* Main content */

.line {
    border-left-style: solid;
    border-color: #69696a;
}

.desc {
    padding-left:20px
}

p {
    margin:0;
}

/* Footer */

footer {
    display:flex;
}

.scrl {
    margin-right:15px;
}

@media only screen and (min-width: 524px) {

    /* Navigation Bar */

    .navbar {
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    .header {
        margin:0;
        align-self: center;
    }

    .nav-links {
        flex-direction: row;
    
    }

    .link {
        align-self: center;
    }

    .btn {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Main Content */

    .container {
        display:flex;
        flex-direction: row;
    }

    .content {
        display: flex;
        flex-direction: column;
        width:500px;
        justify-content: center;
        margin-top:100px;
    }

    /* Circles */

    .circles {
       z-index: -1;
    }

    .circle1 {
        position: absolute;
        width:150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgba(207, 130, 213, 0.6);
        right: 25px;
        top: 238px;
    }

    .circle2 {
        position: absolute;
        width:200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgba(247, 193, 162, 0.7);       
        right: 25px;
        top: 360px;    
    }

    .circle3 {
        position: absolute;
        width:300px;
        height: 300px;
        border-radius: 50%;
        background-color: rgba(247, 136, 167, 0.6);       
        right: 128px;
        top: 195px;
    }

    /* Footer */

    footer {
        position: absolute;
        bottom:0;
        display:flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 15px;
    }
}